{% extends "base.html" %}

{% block title %}Logowanie{% endblock %}

{% block content %}
<h1>Zaloguj się</h1>

<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="form-row">
        <label for="{{ form.username.id_for_label }}">Nazwa użytkownika:</label>
        {{ form.username }}
        {{ form.username.errors }}
    </div>
    <div class="form-row">
        <label for="{{ form.password.id_for_label }}">Hasło:</label>
        {{ form.password }}
        {{ form.password.errors }}
    </div>

    <button type="submit" class="btn">Zaloguj</button>
</form>

<p><a href="{% url 'password_reset' %}">Nie pamiętasz hasła?</a></p>
{% endblock %}
