{% extends "base.html" %}

{% block title %}
    {% if note %}Edytuj notatkę{% else %}Nowa notatka{% endif %}
{% endblock %}

{% block content %}
<div class="note-form-card">
    <h1 class="note-form-title">
        {% if note %}Edytuj notatkę{% else %}Nowa notatka{% endif %}
    </h1>

    <form method="post" id="note-form" novalidate>
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="form-row">
            <label for="{{ form.title.id_for_label }}" class = "txt">Tytuł</label>
            {{ form.title }}
            {{ form.title.errors }}
        </div>

        <div class="form-row">
            <label for="{{ form.content.id_for_label }}" class = "txt">Treść</label>
            {{ form.content }}
            {{ form.content.errors }}
        </div>

        <div class="form-row form-row-inline">
            <div class="checkbox-inline">
                <label for="{{ form.is_pinned.id_for_label }}" class = "txt">
                    {{ form.is_pinned }}
                    Przypnij
                </label>
                {{ form.is_pinned.errors }}
            </div>
            <div>
                <label for="{{ form.due_date.id_for_label }}" class = "txt">Termin</label>
                {{ form.due_date }}
                {{ form.due_date.errors }}
            </div>
            <div>
                <label for="{{ form.priority.id_for_label }}" class = "txt">Priorytet</label>
                {{ form.priority }}
                {{ form.priority.errors }}
            </div>
            <div>
                <label for="{{ form.category.id_for_label }}" class = "txt">Kategoria</label>
                {{ form.category }}
                {{ form.category.errors }}
            </div>
            <div class="add-category">
            <a href="{% url 'blog:category_create' %}" class="link-add-category">
                + Dodaj nową kategorię
            </a>
            </div>
        </div>
        <div class  = "submit-btn" ><button type="submit" class="btn btn-primary">Zapisz</button>
        </div>
    </form>
</div>
{% endblock %}
